# any kind of "*" pulls in __init__.pyc files,
# so all extensions are explicit.

recursive-include doc *.css *.txt *.png *.py Makefile *.rst *.mako
recursive-include examples *.py *.myt *.kid *.tmpl
recursive-include test *.py *.html *.mako

include README* LICENSE CHANGES*

prune doc/build/output

